{% extends 'base.html.twig' %}

{% block title %}Ligue des Ombres{% endblock %}

{% block body %}
<div class="container text-center align-middle text-light mt-5">
<h1><i class="fas fa-server"></i> Serveur Caelum :</h1>
   <h3 class="mt-5"><i class="fas fa-poll text-primary"></i> Status : {% if data.success == true %} <i class="fas fa-check-square text-success"></i> {% else %} <i class="fas fa-exclamation-circle"></i>{% endif %}</h3>
   <h3 class="mt-5"><i class="fas fa-users text-info"></i> Joueur en Ligne : {{data.message.players_current}} / {{data.message.players_maximum}}</h3>
   <h3 class="mt-5"><i class="fas fa-restroom text-warning"></i> File d'attente : {{data.message.queue_current}} Joueur en attente</h3>
   <h3 class="mt-5"><i class="far fa-hourglass text-danger"></i> Temps d'attente : {{data.message.queue_wait_time_minutes}} minutes</h3>
</div>
{% endblock %}