{% extends 'base.html.twig' %}

{% block title %}Leveling Ameublement{% endblock %}

{% block body %}
<div class="container text-center text-light">
<img src="{{ asset('assets/metier/furnishing.png') }}" class="text-center">
<h4>Ameublement</h4>
<table class="table table-striped table-dark mt-5">
  <thead>
    <tr>
      <th scope="col">Niveau</th>
      <th scope="col">Expérience</th>
      <th scope="col">Objets a fabriquer</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0 - 50</td>
      <td>23 375 XP</td>
      <td>156x Lanterne en fer rouillée</td>
    </tr>
    <tr>
      <td>50 - 100</td>
      <td>158 000 XP</td>
      <td>1054x Lanterne en fer rouillée</td>
    </tr>
    <tr>
      <td>100 - 150</td>
      <td>1 068 000 XP</td>
      <td>3 179x Teint à bois couleur Chêne</td>
    </tr>
    <tr>
      <td>150 - 200</td>
      <td>6 656 000 XP</td>
      <td>4 952x Teinte  à bois couleur Acajou</td>
    </tr>
  </tbody>
</table>
<a href="{{path('leveling_job')}}"><button type="button" class="btn btn-primary text-right">Retour</button></a>
</div>
{% endblock %}