{% extends '@!EasyAdmin/layout.html.twig' %}


{% block title %}LDO - Back{% endblock %}



{% block main %}
<div class="container">
	<div class="row">
		<div class="col text-center">
			<p>Administration du site LDO</p>
		</div>
	</div>
</div>
{% endblock %}

